<p>Task module</p>
<input class="form-control" type="text" placeholder="Task name" aria-label="Nom de la tâche" id="name">
<input class="form-control" type="text" placeholder="Task date" aria-label="Date de la tâche" id="taskdate">
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="idpriorite">
    <option selected>Open this select menu</option>
    <option value="1">Urgente</option>
    <option value="2">Modérée</option>
    <option value="3">Basse</option>
  </select>


