<h1>My 1st Angular App</h1>
<div class="container"> <!-- Utilisation de la classe container pour contenir les liens -->
  <div class="row"> <!-- Utilisation de la classe row pour créer une ligne -->
    <div class="col"> <!-- Utilisation de la classe col pour créer une colonne -->
      <a routerLink="/register" class="btn btn-link">Register</a>
      <a routerLink="/login" class="btn btn-link">Login</a>
      <a (click)="logout()" class="btn btn-link">Logout</a>
      <a routerLink="/about" class="btn btn-link">À propos</a>
      <a routerLink="/home" class="btn btn-link">Home</a>
      <a routerLink="/addtask" class="btn btn-link">Add a new Task</a>
      <a routerLink="/listtasks" class="btn btn-link">List Tasks</a>
    </div>
  </div>
</div>
<div class="app">
  <div class="app-header"></div>
</div>
<router-outlet></router-outlet>